/*
===================
Fonts
===================
*/
@font-face {
  font-family: "vazir";
  src: url("../fonts/vazir/Vazir-FD-WOL.woff") format("woff2"),
    url("../fonts/vazir/Vazir-FD-WOL.woff") format("woff"),
    url("../fonts/vazir/Vazir-FD-WOL.ttf") format("truetype");
}



/*
===================
Variables
===================
*/
:root {
  --clr-primary: #e2711d;
  --clr-primary-light: #ffb627;
  --clr-grey-1: #102a42;
  --clr-grey-5: #617d98;
  --clr-grey-10: #f1f5f8;
  --clr-white: #fff;
  --ff-primary: "vazir", sans-serif;
  --radius: 0.5rem;
}

body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  text-align: right;
  font-size: 1rem;
}

a {
  text-decoration: none;
}


/*    
===================
header
===================
*/
.header {
  position: relative;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.24)), url(../img/dry.jpg) center/cover no-repeat fixed;

}

.banner {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #f1f5f8;
  transform: translate(-50%, -50%);
  text-align: center;

}



.banner h1 {
  color: #00ffff;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.banner h2 {
  color: #fbff05;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.btn-banner {
  font-size: 1.25rem;
  background: #ffb627;
  padding: 0.5rem 1rem;
  border-radius: var(--radius);
  color: #1086e0;
  transition: all 0.3s linear;
  outline: 0.125rem solid #8a8102;
  /*  این برای فاصله اوت لاین هست
outline-offset: 0.25rem; 
padding: 0.75rem 1.25rem;*/

}

.btn-banner:hover {
  background: #ebd19f;
  color: #1086e0;
}

/* content divider */

.content {
  height: 0.5rem;
  background: linear-gradient(to left, rgba(3, 255, 159, 0.24), rgba(0, 92, 69, 0.856), rgba(51, 255, 0, 0.719));
}

/*    
===================
feature
===================
*/

.features {
  background: #0491fd;
  padding: 2.5rem 0;
  transition: 2s;

}

.feature:hover {
  background: #66dcfa;
  border-radius: 30px;
}




.feature:hover,
.feature-icon {
  transform: translateY(-5px);

}



/* وقتی از فلوت استقاده کنیم از این کد استفاده میکنیم */
.features::after,
.features::before {
  content: "";
  clear: both;
  display: block;
}


.feature {
  height: 300px;
  text-align: center;
  transition: all 0.60s ease;
}

.feature-icon {
  font-size: 2rem;
  color: #f2f532;
  margin-bottom: 1.25rem;
  display: inline-block;
}

.feature h4 {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.text {
  color: black;
  max-width: 17rem;
  margin: 0 auto;
}

.about-picture {
  display: block;
  width: 100%;

}

@media screen and (min-width:576px) {
  .feature {
    float: right;
    width: 50%;
  }

}

@media screen and (min-width:1200px) {
  .feature {
    float: right;
    width: 25%;
  }

}

/*    
===================
about img
===================
*/



.img-about {
  padding: 2rem;


}

.img-picture {
  background: var(--clr-primary-light);
  max-width: 30rem;
  border: 0.3rem solid #00ffff;
  border-radius: var(--radius);
  overflow: hidden;
}

.about-btn {
  font-size: 1.25rem;
  background: #ffb627;
  padding: 0.5rem 1rem;
  border-radius: var(--radius);
  color: #1086e0;
  transition: all 0.3s linear;
  outline: 0.125rem solid #8a8102;
}

.about-btn:hover {
  background: #ebd19f;
  color: #1086e0;
}

@media screen and (min-width:992px) {
  .cection-center {
    width: 95vw;
    padding: 4rem 1rem;
  }
}


.cection-center {
  margin: 0 auto;
  padding: 4rem 0;
  width: 85vw;
  max-width: 1170px;
}

.about-picture {
  transition: all 0.5s linear;
}

.img-picture:hover .about-picture {
  opacity: 0.5;
  transform: scale(1.2);
}